.notif {
    position: absolute;
    top: -100px;
    right: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 300px;
    height: 40px;
    background-color: rgba(240, 248, 255, 0.8);
    border: 2px solid rgba(46, 49, 146, 1);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slide {
    top: 10px;
}

.notif>p {
    text-align: center;
    font-size: 18px;
    color: rgba(46, 49, 146, 1);
}